body {
  --background-dark: #21252b;
  --background-default: #282c34;
  --background-light: #484d58;
  --color-dark: #7d8799;
  --color-default: #abb2bf;
  --color-active: #e06c75;
  --border-default: #15171a;
  --border-light: #7d8799;

  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
  background: var(--background-default);
  color: var(--color-default);
}

a { cursor: pointer; }
